__pycache__/
*.pyc
.venv/
.env/
.DS_Store
*/dataset/
NLP_stanford_lecture/assignment1/cs336_basics/dataset/
# Python envs
venv/
JAX_training/jax.venv/
# Python cache
.pytest_cache/
# OS / editor
.vscode/
.idea/
